body 
{
    text-align: center;
    align-items: center;
    background-color:#202324;
    color:#BACFC9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jee
{
    font-size: 5.5em;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.clock,.bclock{
    margin-right: 1.5em;
    border-radius: 15px;
    border-style: none;
    padding: 10px;
    background-color: #151617;
}
button 
{
    background-color: #151617;
    color: #BACFC9;
    padding: 1em 1em;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 1em;
    font-size: 1rem;
}

.ta
{   
    width:75%;
    margin-top: 50px;
    font-size: 2em;
    padding: 10px;
    border-radius: 30px;
    background-color: #1a1a1a;
    color: #BACFC9;
    margin-bottom:50px;
}
.sub{
    border-radius: 30px;
    font-size: 1em;
}

table {
    border: 2px;
    border-style: groove;
    border-radius: 20px;
    width: 80%;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
   
}
  
  td {
    
    border-radius: 20px;
    background-color: #1a1a1a;
  }

h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
