body {
  background-color: rgb(53, 60, 66);
  color: burlywood;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button 
{
  background-color: wheat;
  color: black;
  border: 1px solid black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1em 1em;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 1em;
  font-size: 1rem;
}

.butt
{
  font-size: 1.5rem;
  border-radius: 20px;
}
.dlt
{
  font-size: 0.75em;
}

.countdown
{
  font-size: 5em;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}