body 
{
    text-align: center;
    align-items: center;
    background-color:#202324;
    color:#BACFC9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jee
{
    font-size: 3em;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
   
}
.clock,.bclock{
    margin-right: 1.5em;
    border-radius: 15px;
    border-style: none;
    padding: 10px;
    background-color: #151617;
}
button 
{
    background-color:#151617;
    color: #BACFC9;
    padding: 1em 1em;
    cursor: pointer;
    border-radius: 15px;
    margin : 1em;
    font-size: 1rem;
    border: none;
}

.ta
{   
    width:75%;
    margin-top: 50px;
    font-size: 2em;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(27, 27, 30);
    color: #BACFC9;
    margin-bottom:50px;
}

days{
    background-color: grey;
}
.sub{
    border-radius: 30px;
    font-size: 1em;
    margin-left :10px;
    margin-top: 20px;
    padding-left: 1em;
}

table {
    width: 80%;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
   
}
  
  td {
    
    border-radius: 40px;
    background-color: #1a1a1a;

  }

h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
button:hover{
    background-color: black;
}
.ta:not(:focus){
    background-color:  #151617;
    border: 0px;
    
}

.ta:hover{
    background-color: rgb(27, 27, 30);
    
}
